<html>
    <head>
      {% if title %}
        <title>{{ title }} - 表单的使用-喵星在线</title>
      {% else %}
        <title>表单的使用-喵星在线</title>
      {% endif %}
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
       {% block content %}
       {% endblock %}
    </body>
</html>