 <!--继承基模板-->
{% extends "layout.html" %}

 <!--重新填写block块的内容-->
{% block content %}
    <div style="width:50%;margin-top:10px;">
        <ul style="list-style-type:none;">
            <li>
                <div>
                    <a  target="_blank" href="#" >
                        <img alt="" style="border-radius:50%;" src="{{ url_for('static',filename='profile/'+html_post.author.profile_image) }}"  width="30" height="30">
                    </a>
                    <a  href="#" target="_blank" style="text-decoration:none;">
                        {{ html_post.author.username }}
                    </a>
                    <span style="position:relative;left:50%;">
                        更新于 {{ html_post.update_datetime.strftime('%Y-%m-%d') }}
                    </span>
                </div>
                <div>
                    <h2>
                        <a href="#" style="text-decoration:none;"> {{ html_post.title }} </a>
                    </h2>
                    <div>
                        <p>{{ html_post.content |safe }}</p>
                    </div>
                </div>
            </li>

        </ul>
    </div>


{% endblock %}