 <!--继承基模板-->
{% extends "layout.html" %}

<!--{% block js %}-->

 <!--<script src="http://www.catonlinepy.tech/static/js/jquery-3.4.0.min.js"></script>-->
 <!--<link href={{url_for("static", filename = "croppr.min.css")}}   rel="stylesheet"/>-->
 <!--<script src={{url_for("static", filename = "croppr.min.js")}} ></script>-->


<!--{% endblock js%}-->

 <!--重新填写block块的内容-->
{% block content %}
 <hr>
 <div>
    <h1>用户：{{user.username}}</h1>
    <img alt="" style="border-radius: 50%;" src='{{url_for("static", filename = user_image)}}' class="avatar avatar-60 photo" width="60" height="60">
 </div>
 <hr>
 <div>
    <form method="POST" action="{{ url_for('account') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }} <br>
                {{ form.username(class="form-control form-control-lg"  ) }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }} <br>
                {{ form.email(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.profile_image.label() }} <br>
                {{ form.profile_image(class="form-control-file", onchange="readURL(this)") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
 </div>

      <img id="img_prev" src="#"    />
     <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            $('#img_prev')
              .attr('src', e.target.result)
              .width(150)
              .height(200);
            $('#img_prev').show();
          };

          var croppr = new Croppr('#img_prev', {
               // options
            });


          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>

{% endblock %}