<html>
    <head>
      {% if title %}
        <title>{{ title }}-喵星在线</title>
      {% else %}
        <title>喵星在线</title>
      {% endif %}
    </head>
    <header>
        <div>
            <a href="{{ url_for('index') }}">主页</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">注销</a>
                <a href="{{ url_for('account') }}">{{current_user.username}}</a>
            {% else %}
                <a href="{{ url_for('login') }}">登陆</a>
            {% endif %}
        </div>
    </header>
    <body>
    <!-- 渲染flash消息 -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
       {% block content %}
       {% endblock %}
    </body>
</html>